<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Moodle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="moodleConnectionString" connectionString="Data Source=CENTRE-PC\SQLEXPRESS;Initial Catalog=moodle;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="VimaruConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Vimaru;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <applicationSettings>
    <Moodle.Properties.Settings>
      <setting name="Moodle_WRMoodle_webservices_virtual_class_000000Service" serializeAs="String">
        <value>http://localhost:8080/moodle/webservice/soap/server.php?wsdl=1&amp;wstoken=ca974d80cc5200de58cefed98a479fe4</value>
      </setting>
    </Moodle.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.5.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>