/****** Object:  ForeignKey [FK_MARK_MonHoc_TC_PLAN_BoMon_TC]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MARK_MonHoc_TC_PLAN_BoMon_TC]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
ALTER TABLE [dbo].[MARK_MonHoc_TC] DROP CONSTRAINT [FK_MARK_MonHoc_TC_PLAN_BoMon_TC]
GO
/****** Object:  ForeignKey [FK_PLAN_BoMon_TC_STU_Khoa]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLAN_BoMon_TC_STU_Khoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLAN_BoMon_TC]'))
ALTER TABLE [dbo].[PLAN_BoMon_TC] DROP CONSTRAINT [FK_PLAN_BoMon_TC_STU_Khoa]
GO
/****** Object:  Table [dbo].[MARK_MonHoc_TC]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]') AND type in (N'U'))
DROP TABLE [dbo].[MARK_MonHoc_TC]
GO
/****** Object:  Table [dbo].[PLAN_BoMon_TC]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PLAN_BoMon_TC]') AND type in (N'U'))
DROP TABLE [dbo].[PLAN_BoMon_TC]
GO
/****** Object:  Table [dbo].[STU_Khoa]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STU_Khoa]') AND type in (N'U'))
DROP TABLE [dbo].[STU_Khoa]
GO
/****** Object:  Default [DF_MARK_MonHoc_TC_ID_he_dt]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MARK_MonHoc_TC_ID_he_dt]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MARK_MonHoc_TC_ID_he_dt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MARK_MonHoc_TC] DROP CONSTRAINT [DF_MARK_MonHoc_TC_ID_he_dt]
END


End
GO
/****** Object:  Default [DF_MARK_MonHoc_TC_ID_nhom_hp]    Script Date: 09/28/2012 07:39:11 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MARK_MonHoc_TC_ID_nhom_hp]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MARK_MonHoc_TC_ID_nhom_hp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MARK_MonHoc_TC] DROP CONSTRAINT [DF_MARK_MonHoc_TC_ID_nhom_hp]
END


End
GO
/****** Object:  Table [dbo].[STU_Khoa]    Script Date: 09/28/2012 07:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STU_Khoa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STU_Khoa](
	[ID_khoa] [int] IDENTITY(1,1) NOT NULL,
	[Ma_khoa] [nvarchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Ten_khoa] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Ten_khoa_en] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_svKhoa] PRIMARY KEY CLUSTERED 
(
	[ID_khoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90)
)
END
GO
SET IDENTITY_INSERT [dbo].[STU_Khoa] ON
INSERT [dbo].[STU_Khoa] ([ID_khoa], [Ma_khoa], [Ten_khoa], [Ten_khoa_en]) VALUES (1, N'17', N'Công nghệ thông tin', N' ')
INSERT [dbo].[STU_Khoa] ([ID_khoa], [Ma_khoa], [Ten_khoa], [Ten_khoa_en]) VALUES (9, N'16', N'Công trình thủy', N'')
INSERT [dbo].[STU_Khoa] ([ID_khoa], [Ma_khoa], [Ten_khoa], [Ten_khoa_en]) VALUES (10, N'11', N'Điều khiển tàu biển', N'')
SET IDENTITY_INSERT [dbo].[STU_Khoa] OFF
/****** Object:  Table [dbo].[PLAN_BoMon_TC]    Script Date: 09/28/2012 07:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PLAN_BoMon_TC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PLAN_BoMon_TC](
	[ID_bm] [int] IDENTITY(1,1) NOT NULL,
	[Ma_bo_mon] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Bo_mon] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[So_nhom] [int] NULL,
	[ID_khoa] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_BoMon_TC] PRIMARY KEY CLUSTERED 
(
	[ID_bm] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[PLAN_BoMon_TC] ON
INSERT [dbo].[PLAN_BoMon_TC] ([ID_bm], [Ma_bo_mon], [Bo_mon], [So_nhom], [ID_khoa]) VALUES (2, N'211', N'An toàn cơ bản', NULL, 19)
INSERT [dbo].[PLAN_BoMon_TC] ([ID_bm], [Ma_bo_mon], [Bo_mon], [So_nhom], [ID_khoa]) VALUES (3, N'161', N'An toàn đường thuỷ', NULL, 9)
INSERT [dbo].[PLAN_BoMon_TC] ([ID_bm], [Ma_bo_mon], [Bo_mon], [So_nhom], [ID_khoa]) VALUES (4, N'222', N'Cơ học', NULL, 17)
SET IDENTITY_INSERT [dbo].[PLAN_BoMon_TC] OFF
/****** Object:  Table [dbo].[MARK_MonHoc_TC]    Script Date: 09/28/2012 07:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MARK_MonHoc_TC](
	[ID_mon] [int] IDENTITY(1,1) NOT NULL,
	[Ky_hieu] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Ten_mon] [nvarchar](260) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Ten_tieng_anh] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ID_bm] [int] NULL,
	[ID_he_dt] [int] NULL,
	[ID_nhom_hp] [int] NULL,
 CONSTRAINT [PK_MARK_MonHoc_TC] PRIMARY KEY CLUSTERED 
(
	[ID_mon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[MARK_MonHoc_TC] ON
INSERT [dbo].[MARK_MonHoc_TC] ([ID_mon], [Ky_hieu], [Ten_mon], [Ten_tieng_anh], [ID_bm], [ID_he_dt], [ID_nhom_hp]) VALUES (1, N'18401', N'Tiếng Anh cơ bản 1', NULL, 32, 0, 0)
INSERT [dbo].[MARK_MonHoc_TC] ([ID_mon], [Ky_hieu], [Ten_mon], [Ten_tieng_anh], [ID_bm], [ID_he_dt], [ID_nhom_hp]) VALUES (2, N'18101', N'Đại số', NULL, 43, 0, 0)
INSERT [dbo].[MARK_MonHoc_TC] ([ID_mon], [Ky_hieu], [Ten_mon], [Ten_tieng_anh], [ID_bm], [ID_he_dt], [ID_nhom_hp]) VALUES (3, N'17202', N'Tin học đại cương', NULL, 20, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[MARK_MonHoc_TC] OFF
/****** Object:  Default [DF_MARK_MonHoc_TC_ID_he_dt]    Script Date: 09/28/2012 07:39:11 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MARK_MonHoc_TC_ID_he_dt]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MARK_MonHoc_TC_ID_he_dt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MARK_MonHoc_TC] ADD  CONSTRAINT [DF_MARK_MonHoc_TC_ID_he_dt]  DEFAULT ((0)) FOR [ID_he_dt]
END


End
GO
/****** Object:  Default [DF_MARK_MonHoc_TC_ID_nhom_hp]    Script Date: 09/28/2012 07:39:11 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MARK_MonHoc_TC_ID_nhom_hp]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MARK_MonHoc_TC_ID_nhom_hp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MARK_MonHoc_TC] ADD  CONSTRAINT [DF_MARK_MonHoc_TC_ID_nhom_hp]  DEFAULT ((0)) FOR [ID_nhom_hp]
END


End
GO
/****** Object:  ForeignKey [FK_MARK_MonHoc_TC_PLAN_BoMon_TC]    Script Date: 09/28/2012 07:39:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MARK_MonHoc_TC_PLAN_BoMon_TC]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
ALTER TABLE [dbo].[MARK_MonHoc_TC]  WITH CHECK ADD  CONSTRAINT [FK_MARK_MonHoc_TC_PLAN_BoMon_TC] FOREIGN KEY([ID_bm])
REFERENCES [dbo].[PLAN_BoMon_TC] ([ID_bm])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MARK_MonHoc_TC_PLAN_BoMon_TC]') AND parent_object_id = OBJECT_ID(N'[dbo].[MARK_MonHoc_TC]'))
ALTER TABLE [dbo].[MARK_MonHoc_TC] CHECK CONSTRAINT [FK_MARK_MonHoc_TC_PLAN_BoMon_TC]
GO
/****** Object:  ForeignKey [FK_PLAN_BoMon_TC_STU_Khoa]    Script Date: 09/28/2012 07:39:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLAN_BoMon_TC_STU_Khoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLAN_BoMon_TC]'))
ALTER TABLE [dbo].[PLAN_BoMon_TC]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_BoMon_TC_STU_Khoa] FOREIGN KEY([ID_khoa])
REFERENCES [dbo].[STU_Khoa] ([ID_khoa])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLAN_BoMon_TC_STU_Khoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLAN_BoMon_TC]'))
ALTER TABLE [dbo].[PLAN_BoMon_TC] CHECK CONSTRAINT [FK_PLAN_BoMon_TC_STU_Khoa]
GO
/****** Object:  ForeignKey [FK_PLAN_MonTinChi_TC_MARK_MonHoc_TC]    Script Date: 09/28/2012 07:39:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLAN_MonTinChi_TC_MARK_MonHoc_TC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLAN_MonTinChi_TC]'))
ALTER TABLE [dbo].[PLAN_MonTinChi_TC]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_MonTinChi_TC_MARK_MonHoc_TC] FOREIGN KEY([ID_mon])
REFERENCES [dbo].[MARK_MonHoc_TC] ([ID_mon])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLAN_MonTinChi_TC_MARK_MonHoc_TC]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLAN_MonTinChi_TC]'))
ALTER TABLE [dbo].[PLAN_MonTinChi_TC] CHECK CONSTRAINT [FK_PLAN_MonTinChi_TC_MARK_MonHoc_TC]
GO