<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
      <add key="ServerUrl" value="http://localhost:8080/moodle/"/>
  </appSettings>
  <connectionStrings>
    <add name="moodleConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=moodle;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VimaruConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=VM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VimaruMoodleConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=VimaruMoodle;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.5.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>